.mainDiv {
  position: relative;

  width: 1000px;
  height: 600px;
}

.animationContainer {
  position: absolute;

  width: 600px;
  height: 400px;
  bottom: -200px;

  animation-name: moveUp;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: normal;
}

@keyframes moveUp {
  50% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animation {
  position: relative;
  background-color: teal;
  width: 150px;
  height: 150px;
  border-radius: 75px;

  animation-name: moveRight;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: forwards;
}

@keyframes moveRight {
  100% {
    transform: translateX(500px);
  }
}

@keyframes fade {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
